h1,span{
    padding: 1rem;
}
.home{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 1;
    height: 80rem;

    .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(47, 106,127);
        mix-blend-mode: hard-light;
        z-index: 1;
        top: 0;
        bottom: 0;
        object-fit: cover;

    }
    video{
        
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
        

    }
    .homeContent{
        position:absolute;
        width: 100%;
        height:max-content;
        padding: 8rem 1.5rem 3rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: white;
        z-index: 100;
        
        .textDiv{
            padding: 2rem;
            .smallText{
                font-size:18px ;
                text-transform: uppercase;
            }
            .homeTitle{
                position: relative;
                font-size: 1.8rem;

            }
        }
        .cardDiv{
            
            padding: 2rem;
            position: relative;
            background: white;
            border-radius: 10px;
            gap: 1rem;

            label{
                display: block;
                color: black;
                padding-top: 10px;
                padding-bottom:10px ;
                font-size: 13px;
                font-weight: 400;
            }
            .label_total{
                justify-content: space-between;
                align-items: center;

                .total{
                    color: black;
                    font-size: 18px;
                    font-weight: 600;
                }

            }
            .input{
                height: 40px;
                padding: 1rem;
                background:rgb(211, 211, 211) ;
                border-radius: 3rem;
                input{
                    background: none;
                    border: none;
                    width: 100%;
                    font-size: 13px;
                    font-weight:500 ;
                    &::placeholder{
                        font-size: 13px;
                    }
                }
            }
            .icon{
                font-size: 18px;
            }
            .input[type=range]{
                background: blue;

            }
            
            .searchOption{
                position: absolute;
                background: gray;
                width: max-content;
                bottom: -.7rem;
                column-gap: .8rem;
                padding: 5px 1rem;
                border-radius: 3rem;
                left:50%;
                transform: translate(-50%);
                justify-content: center;
                cursor: pointer;
    
    
                &:hover{
                    background: red;
                }
                .icon{
                    font-size: 18px;
                }
                span{
                    font-size: 13px;
                }
    
            }

        }
        .homeFooterIcons{
            width: 100%;
            justify-content: space-between;
            .icon{
                font-size: 20px;
                margin: 0 5px;
                color: white;
                font-weight: 400;

                &:hover{
                    color: red;
                }
            }
        }
        
    }
}


@media screen and (min-width:500px) {
    
    .home{
        
        .homeContent{
            .textDiv{
                .smallText{
                    font-size: 18px;
                }

                .homeTitle{
                    position: relative;
                    font-size: 2.3rem;
                    width: max-content;
                    &::after{
                        position: absolute;
                        content: '';
                        background: none;
                        height: 5px;
                        width: 145px;
                        right: 0;
                        bottom: 5px;
                        z-index: -1;



                    }
                }
            }
            .cardDiv{
                grid-template-columns: repeat(2,1fr);
            }
        }
    }

}
@media screen and (min-width:700px) {
    
    .home{
        
        .homeContent{
            
            
            .cardDiv{
                grid-template-columns: repeat(3,1fr);
            }
        }
    }

}

@media screen and (min-width:900px) {
    
    .home{
        height: 80vh;
        .homeContent{
            padding-left: 0;
            padding-right: 0%;
            .textDiv{
                .smallText{
                    font-size: 25px;
                }

                .homeTitle{
                    font-size: 4rempx;
                }
            }
            
            .cardDiv{
              margin: 2rem 2rem;
              
            }
        }
    }

}

